<template>
    <div id="container" class="container">
        <div id="login" v-if="pagina==1">
            <div class="columns">
                <div class="column is-4 is-offset-4">
                    <div class="card">
                        <header class="card-header">
                            <p class="card-header-title">
                                Ingreso al sistema
                            </p>
                        </header>
                        <div class="card-content">
                            <div class="content">
                                <div class="column is-12">
                                    <p class="control has-icons-left has-icons-right">
                                        <input class="input" type="text" placeholder="Ingrese su usuario" v-model="usuario">
                                        <span class="icon is-small is-left">
                                            <i class="fas fa-envelope"></i>
                                        </span>
                                        <span class="icon is-small is-right">
                                            <i class="fas fa-check"></i>
                                        </span>
                                    </p>
                                </div>
                                <div class="column is-12">
                                    <p class="control has-icons-left">
                                        <input class="input" type="password" placeholder="Ingrese su contraseña" v-model="credencial">
                                        <span class="icon is-small is-left">
                                            <i class="fas fa-lock"></i>
                                        </span>
                                    </p>
                                </div>
                                <div class="field has-text-centered">
                                    <a class="button is-link" v-on:click="autenticar">Ingresar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="productos" v-if="pagina==2">
            <div class="columns">
                <div class="column is-8 is-offset-2">
                    <div class="field">
                        <div class="control">
                            <div class="columns">
                                <div class="column is-10">
                                    <input class="input is-success" type="text" placeholder="Ingrese producto" v-model="indicador">
                                </div>
                                <div class="column is-2">
                                    <a class="button is-link" v-on:click="buscar">Buscar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Producto</th>
                                <th>Precio</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr is="tablaproducto-item" v-for="i in productos" v-bind:item="i" v-bind:key="i.id">                               
                            </tr>
                            <!--
                            <tr>
                                <td>Televisor HQ</td>
                                <td>S/ 4200.00</td>
                            </tr>
                            <tr>
                                <td>Televisor LED</td>
                                <td>S/ 1200.00</td>
                            </tr>
                            -->
                        </tbody>
                    </table>
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-4by3">
                            <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-left">
                                    <figure class="image is-48x48">
                                    <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
                                    </figure>
                                </div>
                                <div class="media-content">
                                    <p class="title is-4">John Smith</p>
                                    <p class="subtitle is-6">@johnsmith</p>
                                </div>
                            </div>
                            <div class="content">
                                {{mensaje}} <a>@bulmaio</a>.
                                <a href="#">#css</a> <a href="#">#responsive</a>
                                <br>
                                <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';
    export default{
        name: 'app',
        data(){
            return{
                mensaje: "Mi mensaje",
                pagina: 1,
                usuario: '',
                credencial: '',
                productos: null,
                indicador : null,
            };
        },
        methods:{
            autenticar : function(){
                var vm = this;
                axios({
                    method:'post',
                    url:'https://reqres.in/api/login',
                    responseType:'json',
                    data:{
                        email: vm.usuario,
                        password: vm.credencial
                        }
                })
                .then(function (response) {
                    console.log(response.data.token);
                    if(response.data.token != null){
                        vm.pagina = 2;
                    }
                });
            },
            buscar : function(){
                var vm = this;
                axios({
                    method:'get',
                    url:'https://reqres.in/api/users?page='+vm.indicador,
                    responseType:'json'
                })
                .then(function (response) {
                    console.log(response.data);
                    if(response.data.data != null){
                        vm.productos = response.data.data;
                    }
                });
            }
        }
    }
    
</script>

